.Name_Login {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    width: 100%;
    height: 100vh;
  }
  
#por{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    fill: #FFF;
}
#por > img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
#por{
    position: relative;
    left: 10%;
    top: 20%;
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    background-color: #FFF;
    border-radius: 50%;
    animation-name: porani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.group2{
    
    width: 500px;
    height: 564px;
    background-color: #D9D9D9;
    border-radius: 20px;
    position: absolute;
    left: 480px;
    top: 15%;
    border-radius: 20px;
    background: #B6E0FF;
    animation-duration: 2s;
    animation-name: log;
    animation-fill-mode: forwards;
  }
.Button_home > input{
    cursor: pointer;
    position: relative;
    top: 16em;
    left: 700px;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 100px;
    border: none;
    background: #000;
    color: #FFF;
    color: #FFF;
    font-family: BM Jua;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 0.1px;
    animation-name: Buttonani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    
}
.write_name::placeholder{
    color: #FFF;
    text-indent: 5px;
    
}
p, a, h1, h2, h3, h4, h5, h6, ul, li, tr, td, input, select, textarea, button, figure, blockquote{
  transform: skew(-0.1deg);
}
.write_name{
    position: absolute;
    left: 40px;
    bottom: 250px;
    width: 400px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-family: BM Jua;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; 
    letter-spacing: 0.1px;
    animation-name: nameani;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#login_write {
    position: relative;
    left: 430px;
    top: 10%;
    color: #000;
    font-family: Pretendard;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.1px;
    animation-name: loginWriteAni;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0; 
  }
  #por_form{
    position: absolute;
    top: 280px;
    left: 240px;
  }
  .btn-upload {
    width: 150px;
    height: 30px;
    background: #fff;
    border: 1px solid rgb(77,77,77);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: fileani;
    animation-duration: 2s;
    &:hover {
      background: rgb(77,77,77);
      color: #fff;
    }
  }
  
  #file {
    display: none;
  }
  
  @keyframes loginWriteAni {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
  
@keyframes log{
 
    30%{top: 50px;left: 150px;width: 1180px;height: 600px;}
    100% {top: 50px;left: 150px;width: 1170px;height: 742px;}
}
@keyframes nameani{
    0%{}
    20%{ width: 500px;}
    100%{left:250px;width: 700px;}
}
@keyframes Buttonani{
    0% {opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    100% {opacity: 1;left: 800px; top: 450px;font-size: 30px;width: 150px;}
}
@keyframes porani{
    0%{}
    50%{}
    100%{left:250px;}
}

  @keyframes loginWriteAni {
    0% {opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    100% {opacity: 1;}
  }
  @keyframes fileani{
    0% {opacity: 0;}
    50%{opacity: 0;}
    70%{opacity: 0;}
    100% {opacity: 1;}
  }
  
  
  
  
  
  