.Name_Login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.group2 {
  display: flex;
  justify-content: center;
  align-items: center; 
  position: absolute;
  width: 550px;
  height: 564px;
  background-color: #D9D9D9;
  border-radius: 20px;
  background: #B6E0FF;
  animation-duration: 1s;
  animation-name: log;
  animation-fill-mode: forwards;
}
#por{
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  fill: #FFF;
}
#por > img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
#por{
  position: absolute; 
  left: 20px;
  top: 70px;
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  background-color: #FFF;
  border-radius: 50%;
  animation-name: porani;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.Button_home {
  cursor: pointer;
  position: absolute; 
  bottom: 80px;
  right: 55px;
  width: 100px;
  height: 50px;
  border-radius: 100px;
  border: none;
  background: #000;
  color: #FFF;
  color: #FFF;
  font-family: BM Jua;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  letter-spacing: 0.1px;
  animation-name: Buttonani;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}
.write_name::placeholder{
  color: #FFF;
  text-indent: 5px;
  
}
p, a, h1, h2, h3, h4, h5, h6, ul, li, tr, td, input, select, textarea, button, figure, blockquote{
transform: skew(-0.1deg);
}
.write_name{
  position: relative;
  top: 50px;
  text-align: center;
  width: 200px;
  height: 60px;
  border-radius: 20px;
  background: #000;
  color: #FFF;
  font-family: BM Jua;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; 
  letter-spacing: 0.1px;
  animation-name: nameani;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
#login_write {
  position: absolute;
  width: 350px;
  height: 80px;
  left: 150px;
  top: 110px;
  animation-name: loginWriteAni;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0; 
}
#login_write > p{
  line-height : 30px;
  color: #000;
  font-family: Pretendard;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  
  letter-spacing: 0.1px;
}
#por_form{
  /* position: absolute; */
  top: 280px;
  left: 240px;
}
.btn-upload {
  position: absolute;
  top: 200px;
  left: 30px;
  width: 100px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77,77,77);
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fileani;
  animation-duration: 1s;
  &:hover {
    background: rgb(77,77,77);
    color: #fff;
  }
}

#file {
  display: none;
}

@keyframes loginWriteAni {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes nameani{
  0%{}
  80%{width: 470px;}
  100%{ width: 470px;}
}
@keyframes Buttonani{
  0% {opacity: 0;}
  50%{opacity: 0;}
  70%{opacity: 0;}
  100% {opacity: 1;
    right: 50px;
    top: 450px;
    font-size:30px;
    width: 150px;}
}
@keyframes porani{
0% {opacity: 0;}
50%{opacity: 0;}
100% {opacity: 1;}
}

@keyframes loginWriteAni {
  0% {opacity: 0;}
  50%{opacity: 0;}
  70%{opacity: 0;}
  100% {opacity: 1;}
}
@keyframes fileani{
  0% {opacity: 0;}
  50%{opacity: 0;}
  70%{opacity: 0;}
  100% {opacity: 1;}
}
 




