* {
  margin: 0;
  padding: 0;
}

.today {
  width: 47rem;
  height: 70rem;

  margin-left: 46rem;
}

.today P {
  width: 95px;
  font-size: 25px;
  font-weight: normal;

  background-color: white;

  padding-top: 5rem;
  padding-right: 40rem;

  z-index: 1;
  position: fixed;
}

.notepad {
  width: 45rem;
  height: 100%;

  margin-top: 8rem;

  overflow-y: auto;
}

.notepad textarea {
  width: 200px;
  height: 200px;

  border: none;
  border-radius: 5%;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.298);

  margin-right: 70px;
  margin-left: 30px;
  margin-top: 50px;

  padding: 2%;

  font-weight: lighter;
  font-size: 16px;

  resize: none;

  outline: none;

  cursor: default;
}

.notepad textarea:nth-child(1) {
  background-color: #93c2e4;
}

.notepad textarea:nth-child(2) {
  background-color: #b6e0ff;
}

.notepad textarea:nth-child(3) {
  background-color: #e3f2fd;
}

.notepad textarea:nth-child(4) {
  background-color: #feef9f;
}

.notepad textarea:nth-child(5) {
  background-color: #93c2e4;
}
