.writingIcon {
  width: 300px;
  margin-top: 6.7rem;
  position: absolute;
}

.writingIcon button {
  cursor: pointer;

  border-radius: 100%;
  border: none;

  background-color: #f8f8f8;
}

.writingIcon img {
  width: 40px;
}
