.writingIcon {
  width: 300px;
  margin-top: 108px;

  right: 21%;

  position: absolute;
}

.writingIcon button {
  cursor: pointer;

  border-radius: 100%;
  border: none;

  background-color: #f8f8f8;
}

.writingIcon img {
  width: 40px;
}
