* {
  user-select: none;
}

.openWritingNotepad {
  width: 50%;
  height: 810px;

  margin-left: 50%;
  background-color: #f8f8f8;

  position: fixed;
}

.openWritingNotepad div:nth-child(1) {
  margin-left: 5%;
}

.openWritingtext {
  width: 35%;
  margin-top: 57px;
  position: absolute;
}

.openWritingtext span {
  /* 공개 비공개 */
  font-size: 20px;
  font-weight: bold;

  margin-right: 30px;

  cursor: pointer;
}

.openWritingtext span:nth-child(1) {
  color: #a1a1a1;
}

.openWritingtext span:nth-child(2) {
  color: #000000;
}

.openWhether {
  margin-right: 40px;
  color: #000000;
  text-decoration-line: none;
}

.PrivateWhether {
  color: #a1a1a1;
  text-decoration-line: none;
}

.openColorChange {
  width: 200px;

  margin-top: 110px;
  margin-left: 5%;

  position: absolute;
}

.openColorChange button {
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 100%;

  margin-right: 10%;
  cursor: pointer;

  transition: all 0.1s ease;
}

/*메모장 색 변경*/
.openColorChange button:nth-child(1) {
  background-color: #e3f2fd;
}

.openColorChange button:nth-child(1):hover {
  border: 3px solid #9dd3fb;
}

.openColorChange button:nth-child(2) {
  background-color: #b6e0ff;
}

.openColorChange button:nth-child(2):hover {
  border: 3px solid #64c4fa;
}

.openColorChange button:nth-child(3) {
  background-color: #93c2e4;
}

.openColorChange button:nth-child(3):hover {
  border: 3px solid #6e93c9;
}

.openColorChange button:nth-child(4) {
  background-color: #feef9f;
}

.openColorChange button:nth-child(4):hover {
  border: 3px solid #f3d584;
}

.openNotepad {
  width: 470px;
  height: 439px;

  margin-top: 21%;
  margin-left: 5%;

  border: none;
  border-radius: 1%;

  background-color: #FEEF9F;
  position: absolute;
}

.openNotepad textarea {
  width: 450px;
  height: 330px;

  border: none;
  border-radius: 1%;
  background-color: #FEEF9F;

  resize: none;

  padding: 2%;

  font-size: 20px;
  font-weight: bold;

  outline: none;
}

.openNotepad img {
  width: 65px;
  height: 65px;

  margin-top: 5px;
  margin-left: 5px;
}

.openNotepadSubmit {
  width: 104px;
  height: 45px;

  margin-top: 87%;
  margin-left: 30%;

  position: absolute;
}

.openNotepadSubmit button {
  width: 104px;
  height: 45px;

  border: none;
  border-radius: 30px;

  background-color: white;

  font-size: 20px;
  font-weight: normal;

  cursor: pointer;

  transition: all 0.25s ease-out;
}

.openNotepadSubmit button:hover {
  transform: scale(1.1);
}