.content{
    position: absolute;
    left: 120px;
    top: 420px;
    width: 600px;
    height: 320px;
}
.content ::-webkit-scrollbar{
    display: none;
}
.grassBox{
    position: absolute;
    overflow-x: scroll;
    /* overflow-y: hidden; */
    white-space: nowrap;
    bottom: 0;
    width: 100%;
    height: 320px;
    /* background-color: whitesmoke; */
}
.oneweek{
    position: absolute;
    width: 50px;
    height: 270px;
    color: #727272;
    font-family: Akshar;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px;
}
.fr{
    position: relative;
    top: 30px;
    margin-top: 10px;
}
.grassBox>.month{
    position: absolute;
    left: 10px;
    top: 0;
    width: 100vh;
    height: 25px;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.1px;
}
.mo{
    position: relative;
    display: inline;
    margin-right: 180px;
}
.Grass_day{
    position: absolute;
    top: 40px;
    left: 40px;
    width: 200px;
    height: 270px;
    
    display: inline-block;
}
.grassBox_box{
    position: absolute;
    width: 1500px;
    height: 270px;
    
}
.day1{
    position:   relative;
    left: 8px;
    margin-bottom: 20px;
    width: 23px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #F2F2F2;
}
.day2{
    position: relative;
    left: 8px;
    margin-left: 0;
    margin-bottom: 20px;
    width: 23px;
    height: 20px;
    border-radius: 2px;
    background: #F2F2F2;
}
.day3{
    position: relative;
    left: 50px;
    bottom: 280px;
    margin-bottom: 20px; 
    width: 23px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3F2FD;
}
.day4{
    position: relative;
    left: 90px;
    bottom:560px;
    margin-bottom: 20px; 
    width: 23px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #E3F2FD;
}
.day5{
    position: relative;
    left: 130px;
    bottom: 840px;
    margin-bottom: 20px;
    width: 23px;
    height: 20px;
    border-radius: 2px;
    background: #E3F2FD;
}
.day6{
    position: relative;
    left: 170px;
    bottom: 1120px;
    margin-bottom: 20px;
    width: 23px;
    height: 20px;
    border-radius: 2px;
    background: #E3F2FD;
}