* {
  margin: 0;
  padding: 0;
}

.main {
  width: 85rem;
  height: 40rem;
  background-color: #0083ec;

  display: flex;
  justify-content: center;

  position: relative;
}

.profile {
  width: 700px;
  height: 400px;

  color: #000;
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;

  background-color: aqua;
  line-height: 20px; /* 50% */
  letter-spacing: 0.1px;

  margin-right: 35rem;
  position: absolute;
}

#profile_name {
  position: relative;
  font-size: 40px;
  left: 67px;
  top: 102px;
}

#UserName {
  position: absolute;
  left: 300px;
  top: 270px;
}

#UserName h3 {
    font-weight: lighter;
}

.profile_img {
  position: relative;
  top: 172px;
  left: 67px;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 150px;
  background: #d9d9d9;
}
#profile_correction {
  cursor: pointer;
  position: relative;
  border: none;
  border-radius: 30px;
  background: #0083ec;
  width: 30px;
  height: 30px;
  left: 90px;
  top: 120px;
  flex-shrink: 0;
}
#img {
  position: relative;
  cursor: pointer;
  left: 113px;
  top: 113px;
  z-index: 3;
}
.img_upload {
  position: relative;
}
.writen {
  position: absolute;
  width: 500px;
  height: 600px;
  background-color: #0083ec;
  left: 800px;
}
